:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  display: grid;
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 10px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


}
.responsive-container.narrow-format {
  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  display: flex;
  width: 280px;
  height: 653px;
  background-color: rgb(0, 0, 0);
  font-size: small;
}



img { 
  
  align-items: center;
  justify-content: center;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  border: 2px solid #ffffff;
  
}

h1 {
  
  align-self: center;
  text-align: center; 
  grid-column: 2/3;
  grid-row: 1/2;
  border: 2px solid #ffffff;
  
}

#Add {
  
  background-color: green;
  border-color: #000000;
  
}

#Del {
  
  background-color: red;
  border-color: #000000;
  
}

.box {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-gap: 10px;
  
  
}

div[class*="container"] {
  
  border-radius: 10px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

div[class*="howmuch"] {
 
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 2px solid #ff00c3;
    /* bordure de la boîte */
  
}

div[class*="Transactionlogs"] {
  
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  border: 2px solid #ffea00; /* bordure de la boîte */
  
}

div[class*="Operation"] {
  
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  border: 2px solid #0026ff; /* bordure de la boîte */
  
}

div[class*="categorie"] {
  
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 2px solid #1aff00; /* bordure de la boîte */
  
  
}

#switchResponsive {
  

  background-color: mediumblue;
  height: 50px;
  border: 2px solid rgb(255, 0, 0)/* bordure de la boîte */
}

div[class*='DataFilter'] {
  
  flex-wrap: wrap;
  grid-column: 3 / 3;
  grid-row: 2 / 5;
  border: 2px solid #ff00c3;
  
}

.bouchetrou {
  
  font-display: none;
  background-color: #00bfff;
  border: 2px solid #00bfff;
}

#un {
  
  display:contents none;
  
  grid-column: 3/3;
  grid-row: 1/2;
  
}

.logotitleun {
  
  background-color: #00bfff;
  
}